<li {% if page.navbar == 'Projects' %}class="active"{% endif %}><a href="{{ root_url }}/">ღ首页</a></li>
<li {% if page.navbar == 'Archives' %}class="active"{% endif %}><a href="{{ root_url }}/blog/archives">ღ归总</a></li>
<li {% if page.navbar == 'About' %}class="active"{% endif %}><a href="{{ root_url }}/blog/about">ღ关于</a></li>
<li {% if page.navbar == 'works-show' %}class="active"{% endif %}><a href="{{ root_url }}/blog/works-show">ღ作品展示</a></li>
<li {% if page.navbar == 'personal-resume' %}class="active"{% endif %}><a href="{{ root_url }}/blog/personal-resume">ღ个人简历</a></li>

<br />
<li {% if page.navbar == 'material-sorting' %}class="active"{% endif %}><a href="{{ root_url }}/blog/material-sorting">❦素材整理</a></li>
<li {% if page.navbar == 'project-learning' %}class="active"{% endif %}><a href="{{ root_url }}/blog/project-learning">❦项目学习</a></li>
<li {% if page.navbar == 'professional-accumulation' %}class="active"{% endif %}><a href="{{ root_url }}/blog/professional-accumulation">❦职业积累</a></li>
<li {% if page.navbar == 'programming-language' %}class="active"{% endif %}><a href="{{ root_url }}/blog/programming-language">❦编程语言</a></li>
<li {% if page.navbar == 'design-patterns' %}class="active"{% endif %}><a href="{{ root_url }}/blog/design-patterns">❦设计模式</a></li>
<li {% if page.navbar == 'server' %}class="active"{% endif %}><a href="{{ root_url }}/blog/server">❦服务器</a></li>

<br />
<li {% if page.navbar == 'life-of-essays' %}class="active"{% endif %}><a href="{{ root_url }}/blog/life-of-essays">✎生活随笔</a></li>
<li {% if page.navbar == 'professional-notes' %}class="active"{% endif %}><a href="{{ root_url }}/blog/professional-notes">✎职业笔记</a></li>
<li {% if page.navbar == 'music-collection' %}class="active"{% endif %}><a href="{{ root_url }}/blog/music-collection">✎音乐收藏</a></li>
<li {% if page.navbar == 'image-collection' %}class="active"{% endif %}><a href="{{ root_url }}/blog/image-collection">✎图片收藏</a></li>
<li {% if page.navbar == 'article-collects' %}class="active"{% endif %}><a href="{{ root_url }}/blog/article-collects">✎文章收藏</a></li>

<br />
<li {% if page.navbar == 'ui-gui' %}class="active"{% endif %}><a href="{{ root_url }}/blog/ui-gui">❀UI_GUI</a></li>
<li {% if page.navbar == 'ui-ngui' %}class="active"{% endif %}><a href="{{ root_url }}/blog/ui-ngui">❀UI_NGUI</a></li>
<li {% if page.navbar == 'ui-ugui' %}class="active"{% endif %}><a href="{{ root_url }}/blog/ui-ugui">❀UI_UGUI</a></li>
<br />
<li {% if page.navbar == 'Archives' %}class="active"{% endif %}><a href="{{ root_url }}/blog/archives">❧接口</a></li>
<li {% if page.navbar == 'Archives' %}class="active"{% endif %}><a href="{{ root_url }}/blog/archives">❧2D</a></li>
<li {% if page.navbar == 'Archives' %}class="active"{% endif %}><a href="{{ root_url }}/blog/archives">❧脚本</a></li>
<li {% if page.navbar == 'Archives' %}class="active"{% endif %}><a href="{{ root_url }}/blog/archives">❧实践</a></li>
<li {% if page.navbar == 'Archives' %}class="active"{% endif %}><a href="{{ root_url }}/blog/archives">❧图形</a></li>
<li {% if page.navbar == 'Archives' %}class="active"{% endif %}><a href="{{ root_url }}/blog/archives">❧物理</a></li>
<li {% if page.navbar == 'Archives' %}class="active"{% endif %}><a href="{{ root_url }}/blog/archives">❧音频</a></li>
<li {% if page.navbar == 'Archives' %}class="active"{% endif %}><a href="{{ root_url }}/blog/archives">❧动画</a></li>
<li {% if page.navbar == 'Archives' %}class="active"{% endif %}><a href="{{ root_url }}/blog/archives">❧UI</a></li>
<li {% if page.navbar == 'Archives' %}class="active"{% endif %}><a href="{{ root_url }}/blog/archives">❧广告</a></li>
<li {% if page.navbar == 'Archives' %}class="active"{% endif %}><a href="{{ root_url }}/blog/archives">❧优化</a></li>
<li {% if page.navbar == 'Archives' %}class="active"{% endif %}><a href="{{ root_url }}/blog/archives">❧导航</a></li>
<li {% if page.navbar == 'Archives' %}class="active"{% endif %}><a href="{{ root_url }}/blog/archives">❧网络</a></li>